/* prepare for trouble */
/* and whatever else i jankily implemented 💀 */

#about {
    padding: 8px;
}
#about > .title {
    display: block;
    font-size: 32px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding-bottom: 8px;
}
#about > .goal {
    display: block;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#people {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
    grid-template-rows: auto;
    gap: 8px;
    justify-items: center;
}
.profile {
    color: white;
    display: grid;
    padding: 16px;
    background-color: #303030;
    grid-template-columns: 128px auto;
    border-radius: 16px;
    column-gap: 16px;
    row-gap: 8px;
}
.profile > .profile-picture {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.profile > #person {
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
}
.profile > #person > .role {
    display: inline-block;
    color: #aaa;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 4px;
    transform: translateY(-2px);
}
.profile > .bio-html {
    grid-column: 2;
    grid-row: 2;
}
.profile > .links {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #202020;
    padding: 8px;
    border-radius: 8px;
    height: 16px;
    align-self: self-end;
    text-align: center;
}
.profile > .links > a {
    text-decoration: none;
    font-weight: bold;
}
.profile > .links > a::after {
    content: "";
    height: 8px;
    width: 1px;
    background-color: #404040;
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    transform: translateY(-3px);
}
.profile > .links > a:nth-last-child(1)::after {
    display: none;
}

.group-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 512px;
}

@media only screen and (max-width: 800px) {
    #about > .goal {
        width: 100%;
        margin: unset;
    }
    .profile {
        grid-template-rows: 128px auto auto auto;
        grid-template-columns: 1fr;
        gap: 16px;
        column-gap: 0px;
        justify-items: center;
    }
    .profile > .profile-picture {
        grid-column: 1;
        grid-row: 1;
    }
    .profile > #person {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
    .profile > #person > .role {
        display: block;
        transform: none;
    }
    .profile > .bio-html {
        grid-column: 1;
        grid-row: 3;
    }
    .profile > .links {
        width: 1fr;
        grid-row: 4;
    }
    #people {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        grid-template-rows: auto;
        justify-items: center;
    }
    .group-picture {
        width: 100%;
    }
}